@import "tailwindcss";

@theme {
  --color-background: #0f172a;
  --color-foreground: #ededed;

  --color-dash-surface: #111827;
  --color-dash-border: #1e293b;

  --font-display: 'Inter', sans-serif;
  --font-mono: 'Roboto Mono', monospace;
}

:root {
  --background: var(--color-background);
  --foreground: var(--color-foreground);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-display);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .glass {
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.1);
  }

  /* Custom Scrollbar */
  .scrollbar-thin::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  .scrollbar-thin::-webkit-scrollbar-track {
    background: transparent;
  }

  .scrollbar-thin::-webkit-scrollbar-thumb {
    background-color: #334155;
    border-radius: 20px;
  }

  .scrollbar-thin::-webkit-scrollbar-thumb:hover {
    background-color: #475569;
  }
}